<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>areaweb</display-name>
  <servlet>
    <servlet-name>FindProvinceServlet</servlet-name>
    <servlet-class>cn.xwq.servlet.FindProvinceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindCityServlet</servlet-name>
    <servlet-class>cn.xwq.servlet.FindCityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindTownServlet</servlet-name>
    <servlet-class>cn.xwq.servlet.FindTownServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>FindProvinceServlet</servlet-name>
    <url-pattern>/province</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindCityServlet</servlet-name>
    <url-pattern>/city</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindTownServlet</servlet-name>
    <url-pattern>/town</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>